	:root {
		color-scheme: light only;
		--color-case-studies: #FF3103;
		--color-case-studies--light: #f3603f;
		--color-bio: #00A3FF;
		--color-bio--light: #51b8f3;
		--color-contact: #C8B447;
		--color-contact--light: #dec950;
		--color-contact--lighter: #eedc77;
	}


a.effect::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 3px;
	border-radius: 3px;
	background-color: currentColor;
	bottom: -2px;
	left: 0;
	transform-origin: right;
	transform: scaleX(0);
	transition: transform .3s ease-in-out;
}

a.effect:hover::before {
	transform-origin: left;
	transform: scaleX(1);
}
a.effect {
	position: relative;
	display: inline-block;
}

	.color-bio {
		color: var(--color-bio);
	}

	.header .section-name {
		text-transform: capitalize;
	}

	.color-case-studies {
		color: var(--color-case-studies);
	}

	.color-contact {
		color: var(--color-contact);
	}

	html {
		font-family: Lato, system-ui, sans-serif;
		color-scheme: light dark;
	}

    Xbody:has(#bio),
    #bio {
        background-color: var(--color-bio);
    }

    Xbody:has(#case-studies),
    #case-studies {
        background-color: var(--color-case-studies);
    }

    Xbody:has(#contact),
    #contact {
        background-color: var(--color-contact);
    }

	h3 {
		font-size: 32px;
		font-weight: bold;
	}

	.control {
		max-width: 1270px ;
		width: 80%;
		margin: auto;
		padding: 50px 0;
	}

	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

nav a {
	font-weight: 700;
	padding: 25px !important;
	font-size: 28px;
}

nav a:hover {
  background-color: #000;
  color: white;
}

nav li:nth-child(2) a {
	color: var(--color-case-studies);
}
nav li:nth-child(2) a:hover {
	background-color: var(--color-case-studies);
  color: white;
	}
	nav li:nth-child(3) a {
		color: var(--color-bio);
	}
	nav li:nth-child(3) a:hover {
		background-color: var(--color-bio);
  color: white;
	}	nav li:nth-child(4) a {
		color: var(--color-contact);
	}
	nav li:nth-child(4) a:hover {
		background-color: var(--color-contact);
  color: white;
	}
