	:root {
		--color-case-studies: #FF0000;
		--color-bio: #00A3FF;
		--color-contact: #C8B447;
	}

	.color-bio {
		color: var(--color-bio);
	}

	.header .section-name {
		text-transform: capitalize;
	}

	.color-case-studies {
		color: var(--color-case-studies);
	}

	.color-contact {
		color: var(--color-contact);
	}

	html {
		font-family: Lato, system-ui, sans-serif;
		color-scheme: light dark;

	}

    body:has(#bio) {
        background-color: var(--color-bio);
    }

    body:has(#case-studies) {
        background-color: var(--color-case-studies);
    }

    body:has(#contact) {
        background-color: var(--color-contact);
    }

	h3 {
		font-size: 32px;
		font-weight: bold;
	}

	.control {
		max-width: 1270px ;
		width: 80%;
		margin: auto;
		padding: 50px 0;
	}

	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}