	:root {
		color-scheme: light only;

		--color-case-studies: #FF3103;
		--color-bio: #00A3FF;
		--color-contact: #C8B447;
	}


a.effect::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 3px;
	border-radius: 3px;
	background-color: currentColor;
	bottom: -2px;
	left: 0;
	transform-origin: right;
	transform: scaleX(0);
	transition: transform .3s ease-in-out;
}

a.effect:hover::before {
	transform-origin: left;
	transform: scaleX(1);
}
a.effect {
	position: relative;
}

	.color-bio {
		color: var(--color-bio);
	}

	.header .section-name {
		text-transform: capitalize;
	}

	.color-case-studies {
		color: var(--color-case-studies);
	}

	.color-contact {
		color: var(--color-contact);
	}

	html {
		font-family: Lato, system-ui, sans-serif;
		color-scheme: light dark;
	}

    Xbody:has(#bio),
    #bio {
        background-color: var(--color-bio);
    }

    Xbody:has(#case-studies),
    #case-studies {
        background-color: var(--color-case-studies);
    }

    Xbody:has(#contact),
    #contact {
        background-color: var(--color-contact);
    }

	h3 {
		font-size: 32px;
		font-weight: bold;
	}

	.control {
		max-width: 1270px ;
		width: 80%;
		margin: auto;
		padding: 50px 0;
	}

	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
