---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Alvar Sirlin, Front End Dev" section='bio'>
    <section id='bio' class="page"  transition:name='bio'>
        <div class="control">

            Lorem  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci architecto tenetur iusto eligendi unde magnam fuga. Amet odio accusantium numquam saepe autem vero ea quia dignissimos officiis aliquid. Laborum, quas! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis possimus laudantium hic ipsam culpa, numquam ea, necessitatibus corporis tempora consequatur totam nostrum illum veritatis dolorum cum atque fuga maxime! Cupiditate!
        </div>
        </section>
    </Layout>


<style>

</style>