---
import Layout from '../layouts/Layout.astro';
import {Content as Bio} from '../components/Bio.md';
import Links from '../components/Links.astro';
---

<Layout title="Alvar Sirlin, Front End Dev" section='bio'>
    <section id='bio' class="page"  transition:name='bio'>
        <div class="control flex gap-24">
            <div class="w-1/2 prose">

                <Bio />

            </div>
            <div>
                <h3 class="mb-12"><a class="icon-pdf" href="https://www.dropbox.com/scl/fi/dyl1vhwypysmpzm8ku0cr/Alvar-Sirlin-CV.pdf?rlkey=frruzn47ioljb1eh6bjj94l36&dl=0">Download Curriculum Vitae</a></h3>

                <Links />
            
            </div>
        </div>
        </section>
    </Layout>


<style>

</style>