---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="Alvar Sirlin, Front End Dev" section='bio'>
    <section id='bio'>
    Lorem  
    </section>
</Layout>


<style>

</style>