---
import Layout from '../layouts/Layout.astro';

---
<Layout title="Alvar Sirlin, Front End Dev">
<section id="bio">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, natus quo in quae minima excepturi quisquam ea soluta asperiores beatae harum omnis blanditiis perspiciatis repudiandae quibusdam optio. Quibusdam, ratione labore!
</section>
</Layout>


<style>

</style>