---
import Layout from '../layouts/Layout.astro';
import {Content as Bio} from '../components/Bio.md';
import Links from '../components/Links.astro';

---


<script> 
    import {  setExternalLinks, addClassToAnchorsInHeaders   } from  '../js/common'; 
    document.addEventListener("astro:page-load", () => {
        setExternalLinks();
        addClassToAnchorsInHeaders('effect');
    });
</script>


<Layout title="Alvar Sirlin, Front End Dev" section='bio'>
    <section id='bio' class="page"  transition:name='bio'>
        <div class="control flex gap-24">
            <div class="w-1/2 prose">

                <Bio />

            </div>
            <div>
                <h3 class="mb-12"><a class="icon-pdf" href="https://www.dropbox.com/scl/fi/0s6uh8e0s3dnk47427ted/Alvar-Sirlin-CV.pdf?rlkey=14nbf45dptp400uyi1dr1kjw2&dl=0">Curriculum Vitae</a></h3>

                <Links />
            
            </div>
        </div>
        </section>
    </Layout>


<style>

</style>