---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
interface Props {
	message: string;
}
const { message } = Astro.props;

---

<Layout title="Alvar Sirlin, Front End Dev">
    <section id='bio'>
    Lorem  
    </section>
</Layout>


<style>

</style>