---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';

// Example: Filter out content entries with `draft: true` only when building for production
const posts = await getCollection('casestudies', ({ data }) => {
  return import.meta.env.PROD ? data.draft !== true : true;
});

posts.sort((a, b) => a.data.order - b.data.order);

---

<Layout title="Alvar Sirlin, Front End Dev" section="case-studies">
<section id="case-studies"  transition:name="cs" >
    <div class="control">

      <ul>
        {posts.map(post => (
          <li key={post.slug}>
            <h2><a class='effect' href={`/casestudies/${post.slug}`}>
              {post.data.title}
            </a></h2>
            <p>{post.data.description}</p>
          </li>
        ))}
    </ul>
  </div>

</section>
</Layout>


<style>
 li  {
    color: #fff;
    margin: 15px 0 30px;
 }


a {
    font-size: 30px;
    display: inline-block;
    margin-bottom: 4px;
 }
</style>