---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';

// Example: Filter out content entries with `draft: true` only when building for production
const posts = await getCollection('case-studies', ({ data }) => {
  return import.meta.env.PROD ? data.draft !== true : true;
});

posts.sort((a, b) => a.data.order - b.data.order);

---

<Layout title="Alvar Sirlin, Front End Dev" section="case-studies">
<section id="case-studies">
    <ul>
        {posts.map(post => (
          <li key={post.slug}>
            <h2><a href={`/case-studies/${post.slug}`}>
              {post.data.title}
            </a></h2>
            <p>{post.data.description}</p>
          </li>
        ))}
    </ul>

</section>
</Layout>


<style>

</style>