---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Alvar Sirlin, Front End Dev" section='contact'>
    <section id='contact' transition:name="contact">
        <div class="control">
            Lorem  
        </div>
    </section>
</Layout>


<style>

</style>