---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Alvar Sirlin, Front End Dev" section='contact'>
    <section id='contact' class="control">
    Lorem  
    </section>
</Layout>


<style>

</style>