---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Alvar Sirlin, Front End Dev">
	
	<div class="flex flex-col md:flex-row gap-8 leading-loose control">
		<section class="hero max-w-prose text-balance ">
			<h1 class="text-4xl leading-normal mb-2">
				I'm Alvar Sirlin, <br/>
				a Front End Web Developer 
			</h1>
			<p>
				with 15+ years of experience.
			</p>
			<p>
				I specialize in responsive web design, development and custom themes for WordPress and Shopify.
			</p>
		</section>
		<nav class="md:mt-16">
			<ul>
				<li><a class="effect" href="/casestudies">CASE STUDIES</a></li>
				<li><a class="effect" href="/bio">BIO</a></li>
				<li><a class="effect" href="/contact">CONTACT</a></li>
			</ul>
		</nav>
	</div>
</Layout>

<style>	

nav a {
	font-weight: 600;
	font-size: 24px;
	line-height: 1.25;
	margin-bottom: 20px;
	display: inline-block;
}
nav a.effect::before {
	bottom: -10px;
	height: 4px;
	border-radius: 4px;
}
	nav li:nth-child(1) a {
		color: var(--color-case-studies);
	}
	nav li:nth-child(2) a {
		color: var(--color-bio);
	}
	nav li:nth-child(3) a {
		color: var(--color-contact);
	}
</style>