---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Alvar Sirlin, Front End Dev" section="" bgColor="">
	
	<div class="page flex flex-col md:flex-row  gap-8 leading-loose control">
		<section class="hero max-w-prose text-balance ">
			<h1 class="text-4xl leading-normal mb-2">
				I'm Alvar Sirlin, <br/>
				a Front End Web Developer 
			</h1>
			<p class="text-balance w-full md:w-10/12 text-lg">
				with over two decades of experience in the field.<br><br>
				I specialize in web design and development with a zen of fundamentals, <strong>solid HTML and CSS</strong>, and a yen for JavaScript.
			</p>
		</section>
		<nav class="md:mt-16 big">
			<ul>
				<li><a class="hidden" href="/">Home</a></li>
				<li><a class="xeffect" transition:name='cs' href="/casestudies">Case Studies</a></li>
				<li><a class="xeffect" transition:name='bio' href="/bio">Bio</a></li>
				<li><a class="xeffect" transition:name='contact' href="/contact">Contact</a></li>
			</ul>
		</nav>
	</div>
</Layout>

<style>	



nav a {

	line-height: 1.25;
	Xmargin-bottom: 20px;
	display: inline-block;

	border-radius: 15px;
	width: 20rem;
    transition: all 220ms linear;

}


nav a.effect::before {
	bottom: -10px;
	height: 4px;
	border-radius: 4px;
}


</style>