---

interface Props {
	section?: string;
}

const isHomepage = Astro.url.pathname === '/';

const { section } = Astro.props;
const sectionColor = `color-${section}`;

---
{!isHomepage && 
// does this need to be inline?
// I was getting errors on index that section wasnt defined
<script define:vars={{ section }}>
    const sectionName = section.replace(/-/g, ' ');
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('section-name').textContent = sectionName;
    })
</script>

<div id='header'>
    <div class="header flex control py-2  {visible && <p>Show me!</p>}">
        <div>
            <a href='/'>Alvar Sirlin <span class="ml-2 role">Front End Developer</span></a>
        </div>
        <div id='section-name' class:list={['ml-8', 'section-name', sectionColor]}>
        </div>
    </div>
</div>
}
<style define:vars={{ sectionColor }}
>

    #header  {
        background-color: #fff;
    }
    
    .role {
        color: #808080;
    }

    



</style>