---

interface Props {
	section: string;
}

const { section } = Astro.props;
const sectionSlug = toKebabCase(section);
const sectionColor = `color-${sectionSlug}`;
function toKebabCase(input) {
  return input.toLowerCase().replace(/\s+/g, '-');
}
---

<header >
    <div class="flex control py-2">
        <div>
            Alvar Sirlin <span class="ml-2 role">Front End Developer</span>
        </div>
        <div class:list={['ml-8', 'section', sectionColor]}>
            { section } 
        </div>
    </div>
</header>

<style define:vars={{ sectionColor }}
>

    header  {
        background-color: #fff;
    }
    
    .role {
        color: #808080;
    }

    



</style>