<div class="links">
    <ul class="flex-col">
        <li><a href="https://www.linkedin.com/in/alvarsirlin/">LinkedIn</a></li>
        <li><a href="https://pixelfed.art/@alvarix">PixelFed</a></li>
        <li><a href="https://mastodon.art/@alvarix">Mastodon</a></li>
        <li><a href="https://medium.com/@alvarix">Medium</a></li>
        <li><a href="https://github.com/alvarix">GitHub</a></li>
        <li><a href="https://instagram.com/alvar_en">Instagram</a></li>
    </ul>
</div>