<div class="links">
    <h3>Links</h3>
    <ul class="flex-col">
        <li><a href="https://github.com/alvarix">GitHub</a></li>
        <li><a href="https://www.linkedin.com/in/alvarsirlin/">LinkedIn</a></li>
        <li><a href="https://instagram.com/alvar_en">Instagram</a></li>
    </ul>
</div>