---

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
const { frontmatter } = Astro.props;
//{frontmatter.tags.map((tag) => (<Tag tag={tag} />))}
---
<Header/>


<p>Written on: {frontmatter.date}</p>

<Footer/>